<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.email_field :email, autofocus: true, autocomplete: "nombre" %>
  </div>
  <div class="field">
    <%= f.label :edad%>
    <%= f.email_field :age, autofocus: true, autocomplete: "edad" %>
  </div>
  <div class="field">
    <%= f.label :rut %>
    <%= f.email_field :rut, autofocus: true, autocomplete: "rut" %>
  </div>
  <div class="field">
    <%= f.label :telefono %>
    <%= f.email_field :cellphone, autofocus: true, autocomplete: "Telefono" %>
  </div>


  <form action="">
  <input type="radio" name="rol" value="trabajador"> Trabajador<br>
  <input type="radio" name="rol" value="empleador"> Empleador<br>
</form>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
