  <%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

    <ul>
      <% job.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field form-group">
    <%= form.label 'Título' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label 'Descripción' %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label 'Horario (inicio y termino)' %>
    <%= form.text_field :schedule, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label 'Sueldo' %>
    <%= form.number_field :rent, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
  <% end %>
