<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Listado de empleos</h1>
  <% @jobs.each do |job| %>
  <div class="card">
    <div class="card-body">
      <h1><%= job.title %></h1>
      <h3><%= job.schedule %></h3>
      <p><%= job.description %></p>
      <%= link_to 'Ver postulantes', "#{pages_list_path}?id=#{job.id}", class: 'btn btn-info' %>
      <%= link_to 'Editar', edit_job_path(job), class: 'btn btn-success' %>
      <%= link_to 'Eliminar', job, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>

  <br>

  <%= link_to 'Registrar nuevo empleo', new_job_path %>
</div>
