<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Schedule</th>
      <th>Tag</th>
      <th>Rent</th>
      <th>Postulacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.schedule %></td>
        <td><%= job.tag %></td>
        <td><%= job.rent %></td>

        <% if user_signed_in? %>
      <td>  <% if Postulation.find_by(user_id: current_user.id , job_id: job.id, check: true) != nil %>
       <%= link_to "Desmarcar", job , class: 'btn btn-danger' %>
        <% else %>
        <%= link_to "Marcar", job , class: 'btn btn-primary' %>
         <% end %></td>
         <% end %>

        <td><button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_job_path(job) %></button></td>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
