<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @job.schedule %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @job.tag %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @job.rent %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
